﻿﻿@page "/confirm-email"
@inject NavigationManager NavigationManager
@inject IAuthifyDataService DataService

@if (_error)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> Unable to confirm email. Please check the link or contact support.
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Success!</strong> Your email has been confirmed successfully.
    </div>
}

@code {

    private EmailConfirmationRequest _request = new();
    private bool _error = false;
    
    protected override Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        _request.UserId = query.GetValueOrDefault("userId")!;
        _request.Token = query.GetValueOrDefault("token")!;
        
        var result = DataService.ConfirmEmailAsync(_request);
        
        if (result.Result.Success)
        {
            _error = false;
            Task.Delay(1000);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = true;
        }
        
        return base.OnInitializedAsync();
    }
    
}