@page "/confirm-email"
@using System.Net.Http.Json
@using Authify.Core.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@if (_error)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> Unable to confirm email. Please check the link or contact support.
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Success!</strong> Your email has been confirmed successfully.
    </div>
}

@code {

    private EmailConfirmationRequest _request = new();
    private bool _error = false;
    
    protected override Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        _request.UserId = query.GetValueOrDefault("userId")!;
        _request.Token = query.GetValueOrDefault("token")!;
        
        var result = HttpClient.GetAsync($"api/user/confirm-email?userId={_request.UserId}&token={_request.Token}");
        
        if (result.IsCompletedSuccessfully)
        {
            _error = false;
            Task.Delay(1000);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = true;
        }
        
        return base.OnInitializedAsync();
    }
    
}